
            <div  >
                <h3 class="page-header">Kayıt Ol</h3>

                <form method="post" action="Index/Ekle" enctype="multipart/form-data" role="form" style="height:200px;width:200px;">
                    <div class="form-group">
                        <input name="KullaniciAdi" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Kullanıcı Adı Yaz">
                    </div>
                    <div class="form-group">
                        <input name="Adi" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ad Gir">
                    </div>
                    <div class="form-group">
                        <input name="Soyadi" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Soyad Git">
                    </div>
                    <div class="form-group">
                        <input type="password" name="Sifre" class="form-control" id="exampleInputPassword1" placeholder="Şifre">
                    </div>
                    <div class="form-group">
                        <input type="text" name="GizliSoru" class="form-control" id="exampleInputPassword1" placeholder="Gizli Soru Yaz">
                    </div>
                    <div class="form-group">
                        <input type="text" name="GizliCevap" class="form-control" id="exampleInputPassword1" placeholder="Gizli Cevap Yaz">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Profil Resmi</label>
                        <input type="file" name="Resim" />
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
              
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
