
@{
    Layout = null;
    ViewBag.title = "UrunDetay";
}

@model projemynei.Models.UrunlerResimler
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/Content/UrunDetay.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<body>
    @{
        int urunid=Convert.ToInt32(ViewData["urunid"]);
    }
    <div class="container">
        <div class="row">
            @foreach (var item in Model.resimlers)
            {
                if (urunid == item.UrunID)
                {
                    <div class="col-xs-4 item-photo">
                        <img style="max-width:100%;" src="~/Image/@item.ResimYolu1Satici" />
                    </div>
                }


            }
            @foreach (var item in Model.urunlers)
            {
                if (urunid == item.UrunID)
                {
                    <div class="col-xs-5" style="border:0px solid gray">
                        <!-- Datos del vendedor y titulo del producto -->
                        <h3>@item.UrunAdi</h3>

                        <!-- Precios -->
                        <h6 class="title-price"><small>PRECIO OFERTA</small></h6>
                        <h3 style="margin-top:0px;">fiyatı:@item.Fiyati</h3>

                        <!-- Detalles especificos del producto -->
                        <div class="section">
                            <h6 class="title-attr" style="margin-top:15px;"><small>COLOR</small></h6>
                            <div>
                                <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                                <div class="attr" style="width:25px;background:white;"></div>
                            </div>
                        </div>
                        <div class="section" style="padding-bottom:5px;">
                            <h6 class="title-attr"><small>CAPACIDAD</small></h6>
                            <div>
                                <div class="attr2">16 GB</div>
                                <div class="attr2">32 GB</div>
                            </div>
                        </div>
                        <div class="section" style="padding-bottom:20px;">
                            <h6 class="title-attr"><small>CANTIDAD</small></h6>
                            <div>
                                <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                                <input value="1" />
                                <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                            </div>
                        </div>

                        <!-- Botones de compra -->
                        <div class="section" style="padding-bottom:20px;">
                            <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Agregar al carro</button>
                            <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Agregar a lista de deseos</a></h6>
                        </div>
                    </div>

                }
            }

        </div>
    </div>
    <script>
        $(document).ready(function () {
            //-- Click on detail
            $("ul.menu-items > li").on("click", function () {
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click", function () {
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click", function () {
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)) {
                    if (parseInt(now) - 1 > 0) { now--; }
                    $(".section > div > input").val(now);
                } else {
                    $(".section > div > input").val("1");
                }
            })
            $(".btn-plus").on("click", function () {
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)) {
                    $(".section > div > input").val(parseInt(now) + 1);
                } else {
                    $(".section > div > input").val("1");
                }
            })
        })
    </script>
</body>


</html>
